# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PoG_HD.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\PoG_HD\PoG_HD\.idea\.idea.PoG_HD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
